.vijay{
    background-color: red;
}
.nayana{
    background-color: blue;
}
.rajni{
    background-color: yellow;
}
.mahesh{
    background-color: aqua;
}
.manohor{
    background-color: brown;
}

h5{
    background-color: blueviolet;
}

#sharuk{
    background-color: fuchsia;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}